/* Fancy form styles for IE */
input, textarea, select {
border-top-width : 1px;
border-right-width : 1px;
border-bottom-width : 1px;
border-left-width : 1px;
}

input { text-indent : 2px; }

input.button {
border-top-width : 1px;
border-right-width : 1px;
border-bottom-width : 1px;
border-left-width : 1px;
}

.postbody { line-height: 18px
}

A:link {
	COLOR: #445395; TEXT-DECORATION: none
}
A:active {
	COLOR: #445395; TEXT-DECORATION: none
}
A:visited {
	COLOR: #445395; TEXT-DECORATION: none
}
A:hover {
	COLOR: #e35000; TEXT-DECORATION: none
}
A.cat {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.cat:hover {
	COLOR: #f1f1f1; TEXT-DECORATION: none
}
A.copyright {
	COLOR: #444444; TEXT-DECORATION: none
}
A.copyright:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
A.forumlink {
	COLOR: #445395; TEXT-DECORATION: none
}
A.forumlink:hover {
	COLOR: #e35000; TEXT-DECORATION: none
}
A.gen {
	COLOR: #445395; TEXT-DECORATION: none
}
A.genmed {
	COLOR: #445395; TEXT-DECORATION: none
}
A.gensmall {
	COLOR: #445395; TEXT-DECORATION: none
}
A.gen:hover {
	COLOR: #e35000; TEXT-DECORATION: none
}
A.genmed:hover {
	COLOR: #e35000; TEXT-DECORATION: none
}
A.gensmall:hover {
	COLOR: #e35000; TEXT-DECORATION: none
}
A.mainmenu {
	COLOR: #445395; TEXT-DECORATION: none
}
A.mainmenu:hover {
	COLOR: #e35000; TEXT-DECORATION: none
}
A.nav {
	COLOR: #445395; TEXT-DECORATION: none
}
A.nav:hover {
	TEXT-DECORATION: none
}
A.postlink:link {
	COLOR: #445395; TEXT-DECORATION: none
}
A.postlink:visited {
	COLOR: #445395; TEXT-DECORATION: none
}
A.postlink:hover {
	COLOR: #e35000; TEXT-DECORATION: none
}
A.topictitle:link {
	COLOR: #445395; TEXT-DECORATION: none
}
A.topictitle:visited {
	COLOR: #5493b4; TEXT-DECORATION: none
}
A.topictitle:hover {
	COLOR: #e35000; TEXT-DECORATION: none
}
BODY {
	/*SCROLLBAR-FACE-COLOR: #dee3e7*/
}
FONT {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TH {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
HR {
	BORDER-RIGHT: #d1d7dc 0px solid; BORDER-TOP: #d1d7dc 1px solid; BORDER-LEFT: #d1d7dc 0px solid; BORDER-BOTTOM: #d1d7dc 0px solid; HEIGHT: 0px
}
INPUT {
	TEXT-INDENT: 2px
}
INPUT {
	FONT: 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #000000
}
TEXTAREA {
	FONT: 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #000000
}
SELECT {
	FONT: 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #000000
}
INPUT.button {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #efefef
}
INPUT.liteoption {
	FONT-WEIGHT: normal; BACKGROUND-COLOR: #fafafa
}
INPUT.mainoption {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #fafafa
}
INPUT.post {
	BACKGROUND-COLOR: #ffffff
}
TEXTAREA.post {
	BACKGROUND-COLOR: #ffffff
}
SELECT {
	BACKGROUND-COLOR: #ffffff
}
TD.cat {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND-IMAGE: url(../images/cellpic2.gif); PADDING-BOTTOM: 3px; PADDING-TOP: 3px; HEIGHT: 25px
}
TH.cat {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND-IMAGE: url(../images/cellpic2.gif); PADDING-BOTTOM: 3px; PADDING-TOP: 3px; HEIGHT: 25px
}
TD.row1 {
	BACKGROUND: url(../images/_row1.gif) #f5f5f5 repeat-x
}
TD.row2 {
	BACKGROUND: url(../images/_row2.gif) #ecedf3 repeat-x
}
TD.spacerow {
	BACKGROUND-IMAGE: url(../images/cellpic1.gif); HEIGHT: 1px
}
TD.rowpic {
	BACKGROUND-IMAGE: url(../images/cellpic3.gif); BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ffffff
}
TH {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../images/cellpic1.gif); COLOR: #f1f1f1; HEIGHT: 25px; BACKGROUND-COLOR: #445395
}
.bodyline {
	BORDER-RIGHT: #98aab1 1px solid; BORDER-TOP: #98aab1 1px solid; BORDER-LEFT: #98aab1 1px solid; BORDER-BOTTOM: #98aab1 1px solid; BACKGROUND-COLOR: #ffffff
}
.cat {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff
}
.code {
	BORDER-RIGHT: #d1d7dc 1px solid; BORDER-TOP: #d1d7dc 1px solid; FONT-SIZE: 13px; BORDER-LEFT: #d1d7dc 1px solid; COLOR: #006600; BORDER-BOTTOM: #d1d7dc 1px solid; FONT-FAMILY: Courier, 'Courier New', sans-serif; BACKGROUND-COLOR: #fafafa
}
.copyright {
	FONT-SIZE: 10px; COLOR: #444444; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: -1px
}
.forumline {
	BORDER-RIGHT: #d0d5e7 2px solid; BORDER-TOP: #d0d5e7 2px solid; BORDER-LEFT: #d0d5e7 2px solid; BORDER-BOTTOM: #d0d5e7 2px solid; BACKGROUND-COLOR: #ffffff
}
.forumlink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #445395
}
.gen {
	FONT-SIZE: 12px
}
.gen {
	COLOR: #000000
}
.genmed {
	COLOR: #000000
}
.gensmall {
	COLOR: #000000
}
.genmed {
	FONT-SIZE: 11px
}
.gensmall {
	FONT-SIZE: 10px
}
.helpline {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #dee3e7; BORDER-BOTTOM-STYLE: none
}
.mainbody {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; PADDING-BOTTOM: 9px; PADDING-TOP: 9px
}
.mainmenu {
	FONT-SIZE: 11px; COLOR: #000000
}
.maintitle {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #000000; LINE-HEIGHT: 120%; FONT-FAMILY: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #000000; LINE-HEIGHT: 120%; FONT-FAMILY: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #000000; LINE-HEIGHT: 120%; FONT-FAMILY: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.name {
	FONT-SIZE: 11px; COLOR: #000000
}
.nav {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000
}
.postbody {
	FONT-SIZE: 12px
}
.postdetails {
	FONT-SIZE: 10px; COLOR: #000000
}

.quote {
	BORDER-RIGHT: #d1d7dc 1px solid; BORDER-TOP: #d1d7dc 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #d1d7dc 1px solid; COLOR: #444444; LINE-HEIGHT: 125%; BORDER-BOTTOM: #d1d7dc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fafafa
}

.topictitle {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000
}

.highlight {
	font-weight:bold;
	background-color: yellow;
}

.legend-box {
    border-top : 1px #ccc solid;
}

td.activeTab, td.inactiveTab {
  text-align: center;
  vertical-align: top;
  color:#efefef;
}

td.activeTab {
  font-weight:bold;
  background-color:#6699cc;
}

td.inactiveTab {
  background-color:#efefef;
  cursor: pointer;
}

div.inactive1 {
  height: 4px;
  background: url(../images/ulborder.gif) no-repeat top left;
}

div.inactive2 {
  height: 4px;
  background: url(../images/urborder.gif) no-repeat top right;
  padding: 0 4px;
}

div.inactive3 {
  border-top: 1px solid #c6ced7;
}

div.inactiveTabText {
  border-left: 1px solid #c6ced7;
  border-right: 1px solid #c6ced7;
  padding: 0px 1em 2px;
  color: blue;
  white-space: nowrap;
}

div.inactiveTabText a {
  text-decoration: none;
  color: blue;
}

div.active1 {
  height: 4px;
  background: url(../images/ul.gif) no-repeat top left;
}

div.active2 {
  height: 4px;
  background: url(../images/ur.gif) no-repeat top right;
  padding: 1px 6px;
}

div.active3 {}

div.activeTabText {
  padding: 0px 1em 2px;
  color: #fff;
  white-space: nowrap;
}

/* second level bar */
#subTabs div.subtab2 {
  height: 4px;
  background: url(../images/ur.gif) no-repeat top left;
  padding: 1 4px;
}

#subTabs td {
  color: #cbe5ff;
  padding: 4px;
  background: #6699cc;
  white-space: nowrap;
}

#subTabs span.activeText {
  font-weight: bold;
  color: #cbe5ff;
  display: inline;
}

#subTabs span.inactiveText {
  color: #fff;
  margin: 0 1px;
  display: inline;
}

#subTabs span.inactiveText a {
  color: #fff;
}

table.breadcrumbContainer {
  background:#E6F3FF;
  width: 100%;
}

table.breadcrumbContainer td {
  padding: 4px;
  padding-left: 8px;
}

#crumbs span.activeText {
  font-weight: bold;
}

.online {
	COLOR: #0000FF; TEXT-DECORATION: none
}

.offline {
	COLOR: #FF0000; TEXT-DECORATION: none
}

INPUT.searchforum {
	FONT-SIZE: 12px; COLOR: #000000
}

.formsearchforum {
	background-image: url(../images/icon_watch_topic.gif);
	background-position:left 1px;
	background-repeat:no-repeat;
	padding-left:25px;
	FONT: 14px Verdana, Arial, Helvetica, sans-serif; COLOR: #000000
}

.formsearchforumcombo {
	background-position:left 1px;
	background-repeat:no-repeat;
	padding-left:25px;
	FONT: 12px Verdana, Arial, Helvetica, sans-serif; COLOR: #000000
}


#header {
    background: #33415d url("../images/header-background.png") top repeat-x;
    position: relative;
    height: 38px;
    padding: 0 50px;
    border-bottom: 1px solid #a1a6b1;
    z-index: 1;
}

#header div {
    position: relative;
    max-width: 900px; 
    margin: 0 auto;
}

#header h1 { margin: 0 720px 0 0;    }

#header h1 img {
    font-weight: bold;
    color: #7f7c45;
}

#header ul {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    border-left: 1px solid #576178;
    border-right: 1px solid #1f2635;
} * html #header ul { right: 50px; } 

#header li {
    float: left;
    margin: 0;
    padding: 0;
    FONT: 12px Verdana, Arial, Helvetica, sans-serif; COLOR: #000000;
}

#header ul span, #header ul a:link, #header ul a:visited {
    display: block;
    float: left;
    padding: 10px 15px;
    text-decoration: none;
    border-right: 1px solid #576178;
    border-left: 1px solid #1f2635;
    color: #dee0e5;
    height: 36px;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 16px;
} #ignored {}

#header ul li span,
#header ul li a.current,
#header ul li a:hover {
	background: #475470;
	color: #fff;
	text-decoration: underline;
}

#header ul li span,
#header ul li a.current {
	text-decoration: none;
}

/***** Footer *****/

#footer {
    clear: both;
    position: relative;
    text-align: left;
    padding-right: 20px;
    min-height: 180px;
} /*IE6*/


#footer dl {
    float: left;
    margin: 10px 0 0 0;
    padding: 1px 0;
    width: 23.5%;
    border-right: 1px solid #ddd;
    min-height: 160px;
}

#footer dd {
    margin: 0;
    padding: 3px 10px;
    font-size: 85%;
}


#footer dt {
    font-size: 105%;
    font-weight: bold;
    letter-spacing: -0.02em;
    padding: 0 10px;
}

#footer .footer-feature {
    position: absolute;
    right: 10px;
    top: 28px;
}